@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600";
body, html {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  color: #636e72;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.app-chatter {
  display: flex;
  flex-direction: column; }
  .app-chatter .header {
    height: 50px;
    background-color: #008CBA;
    color: white;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
    .app-chatter .header button {
      font-family: Verdana, "Geneva", sans-serif;
      border: 0 none;
      padding-left: 3px;
      padding-right: 3px;
      font-size: 16px;
      cursor: pointer;
      line-height: 40px;
      border: none;
      border-radius: 12px;
      background-color: #DEDEDE;
      background: -webkit-linear-gradient(#DEDEDE, #BFBFBF, #999999);
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(#DEDEDE, #BFBFBF, #999999);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(#DEDEDE, #BFBFBF, #999999);
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(#DEDEDE, #BFBFBF, #999999);
      /* Standard syntax */ }
    .app-chatter .header .left {
      width: 200px; }
      .app-chatter .header .left .actions {
        line-height: 50px;
        padding: 0 10px; }
    .app-chatter .header .content {
      flex-grow: 1;
      overflow: hidden; }
      .app-chatter .header .content h2 {
        line-height: 50px;
        text-align: center;
        font-size: 24px; }
    .app-chatter .header .right {
      width: 300px; }
      .app-chatter .header .right .user-bar {
        line-height: 50px;
        display: flex;
        justify-content: flex-end;
        padding: 0 10px; }
        .app-chatter .header .right .user-bar .profile-name {
          padding-right: 10px;
          font-size: 16px; }
        .app-chatter .header .right .user-bar .profile-image img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin: 10px 0 0 0; }
  .app-chatter .main {
    height: 100%;
    display: flex;
    overflow: hidden; }
    .app-chatter .main .sidebar-left {
      border-right: 1px solid rgba(0, 0, 0, 0.05);
      width: 200px; }
      .app-chatter .main .sidebar-left .title {
        background-color: #DEDEDE;
        background: -webkit-linear-gradient(#DEDEDE, #BFBFBF, #999999);
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#DEDEDE, #BFBFBF, #999999);
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#DEDEDE, #BFBFBF, #999999);
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(#DEDEDE, #BFBFBF, #999999);
        /* Standard syntax */
        color: black; }
      .app-chatter .main .sidebar-left .rooms {
        list-style-type: none; }
        .app-chatter .main .sidebar-left .rooms .room-info {
          border: 1px solid gray;
          background-color: #556B2F; }
          .app-chatter .main .sidebar-left .rooms .room-info a {
            text-decoration: none;
            color: white; }
            .app-chatter .main .sidebar-left .rooms .room-info a a:visited {
              text-decoration: none; }
            .app-chatter .main .sidebar-left .rooms .room-info a a:hover {
              text-decoration: underline; }
            .app-chatter .main .sidebar-left .rooms .room-info a a:focus {
              text-decoration: none; }
            .app-chatter .main .sidebar-left .rooms .room-info a a:hover, .app-chatter .main .sidebar-left .rooms .room-info a a:active {
              text-decoration: underline; }
    .app-chatter .main .sidebar-right {
      border-left: 1px solid rgba(0, 0, 0, 0.05);
      width: 300px; }
      .app-chatter .main .sidebar-right .title {
        background-color: #DEDEDE;
        background: -webkit-linear-gradient(#DEDEDE, #BFBFBF, #999999);
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#DEDEDE, #BFBFBF, #999999);
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#DEDEDE, #BFBFBF, #999999);
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(#DEDEDE, #BFBFBF, #999999);
        /* Standard syntax */
        color: black; }
      .app-chatter .main .sidebar-right .members {
        border: 1px solid gray;
        background-color: #5F9EA0;
        color: white; }
    .app-chatter .main .content {
      flex-grow: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column; }
      .app-chatter .main .content .messages {
        flex-grow: 1; }
      .app-chatter .main .content .chatter-input {
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        height: 50px;
        display: flex;
        flex-direction: row; }
        .app-chatter .main .content .chatter-input .text-input {
          flex-grow: 1; }
          .app-chatter .main .content .chatter-input .text-input textarea {
            border: 0 none;
            width: 100%;
            height: 100%;
            padding: 8px 15px; }
        .app-chatter .main .content .chatter-input .actions button.post {
          background: #00cec9;
          color: #FFF;
          border: 0 none;
          padding: 7px 15px;
          line-height: 50px; }
    .app-chatter .main .footercontainer {
      height: 50px;
      color: black;
      display: flex;
      flex-direction: row;
      border-top: 1px solid rgba(0, 0, 0, 0.05);
      font-style: italic;
      font-family: 'Montserrat', sans-serif;
      background-color: #DEDEDE;
      background: -webkit-linear-gradient(#DEDEDE, #BFBFBF, #999999);
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(#DEDEDE, #BFBFBF, #999999);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(#DEDEDE, #BFBFBF, #999999);
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(#DEDEDE, #BFBFBF, #999999);
      /* Standard syntax */
      vertical-align: middle; }
      .app-chatter .main .footercontainer .left {
        width: 200px; }
        .app-chatter .main .footercontainer .left .footertext {
          vertical-align: middle;
          line-height: 50px;
          padding: 0 10px; }
      .app-chatter .main .footercontainer .right {
        width: 300px; }
        .app-chatter .main .footercontainer .right .footericons {
          line-height: 50px;
          display: flex;
          justify-content: flex-end;
          padding: 0 10px; }
      .app-chatter .main .footercontainer .social-links
      li {
        list-style-type: none;
        text-align: center;
        vertical-align: middle; }
        .app-chatter .main .footercontainer .social-links
        li a {
          text-decoration: none;
          color: #335566; }
          .app-chatter .main .footercontainer .social-links
          li a a:visited {
            text-decoration: none; }
          .app-chatter .main .footercontainer .social-links
          li a a:hover {
            text-decoration: underline; }
          .app-chatter .main .footercontainer .social-links
          li a a:focus {
            text-decoration: none; }
          .app-chatter .main .footercontainer .social-links
          li a a:hover, .app-chatter .main .footercontainer .social-links
          li a a:active {
            text-decoration: underline; }

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%; }
  .messages .message {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 15px 0;
    padding-top: 25px;
    padding-bottom: 10px; }
    .messages .message .message-user-image img {
      width: 20px;
      height: 20px;
      border-radius: 50%; }
    .messages .message .message-body {
      padding-left: 10px; }
      .messages .message .message-body .message-text {
        background: #636e72;
        color: #FFF;
        padding: 10px;
        border-radius: 10px; }
    .messages .message.me {
      justify-content: flex-start; }
      .messages .message.me .message-body .message-text {
        background: #00cec9;
        color: #FFF; }

.rooms .room {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 8px 0; }
  .rooms .room .user-image {
    width: 30px; }
    .rooms .room .user-image img {
      width: 30px;
      height: 30px;
      border-radius: 50%; }
  .rooms .room .room-info {
    flex-grow: 1;
    padding-left: 8px; }
    .rooms .room .room-info h2 {
      font-size: 14px;
      font-weight: 600; }
    .rooms .room .room-info p {
      font-size: 12px; }

.members .member {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 8px 0; }
  .members .member .user-image {
    width: 30px; }
    .members .member .user-image img {
      width: 30px;
      height: 30px;
      border-radius: 50%; }
  .members .member .member-info {
    padding-left: 8px;
    flex-grow: 1; }
    .members .member .member-info h2 {
      font-size: 14px; }
    .members .member .member-info p {
      font-size: 12px; }

h2.title {
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8); }

/*# sourceMappingURL=app.css.map */
