@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600";
@import 'variable';

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    color: $body-color;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.app-chatter{
    display: flex;
   flex-direction: column;
   
    .header{
        height: $header-height;
        @include tablet {
            height: $header-height-tablet;
          }
        
          @include desktop {
            height: $header-height-desktop;
          }        
        background-color: #669999;
        color: white; 
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $border-color;
        
        button{
            font-family: Verdana, "Geneva", sans-serif;
            border: 0 none;
            padding: 9px;
            font-size: 8px;
            cursor: pointer; 
            border: none;
            border-radius: 12px;
            background-color: #DEDEDE;
            background: -webkit-linear-gradient(#DEDEDE, #BFBFBF , #999999); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(#DEDEDE, #BFBFBF, #999999); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(#DEDEDE, #BFBFBF, #999999); /* For Firefox 3.6 to 15 */
            background: linear-gradient(#DEDEDE, #BFBFBF, #999999); /* Standard syntax */
            @include tablet {
                font-size: 10px;
                padding: 12px;
              }
            
              @include desktop {
                font-size: 12px;
                padding: 15px;
              }       
        }
        .left{
            //width: $left-sidebar-width;
            width: auto;
            .actions{
                line-height: $header-height;
                padding: 0 10px;
                @include tablet {
                    line-height: $header-height-tablet;
                  }
                
                  @include desktop {
                    line-height: $header-height-desktop;
                  }                
            }
        }
        .content{
            flex-grow: 1;
            overflow: hidden;
            width: auto;
            h2{
                line-height: $header-height;
                text-align: center;
                font-size: 12px;
                @include tablet {
                    font-size: 18px;
                    line-height: $header-height-tablet;
                  }
                
                  @include desktop {
                    font-size: 24px;
                    line-height: $header-height-desktop;
                  }
            }
            

        }
        .right{
            width: auto;
            .user-bar{
                line-height: $header-height;
                display: flex;
                justify-content: flex-end;
                padding: 0 10px;
                @include tablet {
                    line-height: $header-height-tablet;
                  }
                
                  @include desktop {
                    line-height: $header-height-desktop;
                  }                
            }
        }
    }
    .main{
        height: 100%;
        min-height: calc(100vh - 50px);
        display: flex;
        overflow: hidden;
        .left-align{
            width: $left-sidebar-width;
            background-color: whitesmoke;
            @include tablet {
                width: $left-sidebar-width-tablet;
              }
            
              @include desktop {
                width: $left-sidebar-width-desktop;
              }
        .sidebar-left{
            border-right: 1px solid $border-color;
            width: $left-sidebar-width;
            @include tablet {
                width: $left-sidebar-width-tablet;
              }
            
              @include desktop {
                width: $left-sidebar-width-desktop;
              }
            background-color:#A5C663;
            .title{
                background-color: #DEDEDE;
                background: -webkit-linear-gradient(#DEDEDE, #BFBFBF , #999999); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(#DEDEDE, #BFBFBF, #999999); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(#DEDEDE, #BFBFBF, #999999); /* For Firefox 3.6 to 15 */
                background: linear-gradient(#DEDEDE, #BFBFBF, #999999); /* Standard syntax */
                color: black;
                padding: 6px;
                font-size: 8px;
                @include tablet {
                    padding: 8px;
                    font-size: 10px;
                  }
                
                  @include desktop {
                    padding: 10px;
                    font-size: 12px;
                  }
            }
            .rooms{
                list-style-type: none;
                border: 1px solid gray;
                max-height: 60vh;
                overflow-y: scroll;
                
                .room-info{
                    border: 1px solid gray;
                    padding: 6px;
                        @include tablet {
                            padding: 8px;
                        }
                
                        @include desktop {
                            padding: 10px;
                        }
                        h2{
                            font-size: 10px;
                            @include tablet {
                               font-size: 12px;
                             }
                           
                             @include desktop {
                               font-size: 14px;
                             } 
                         }
   
                         h4{
                           font-size: 8px;
                           @include tablet {
                              font-size: 10px;
                            }
                          
                            @include desktop {
                              font-size: 12px;
                            } 
                        }
                    a{
                        text-decoration: none;
                        color: white;
                          a:visited { text-decoration: none; }
                          a:hover { text-decoration: underline; }
                          a:focus { text-decoration: none; }
                          a:hover, a:active { text-decoration: underline; }
                          //li.selected { background-color: purple; }
                          &--active {
                            color: black;
                          } 
                    }
                    &--active {
                        background-color:purple;
                      }
                    
                }
            }
            
        }
        .sidebar-right{
            border-left: 1px solid $border-color;
            width: $left-sidebar-width;
            @include tablet {
                width: $left-sidebar-width-tablet;
              }
            
              @include desktop {
                width: $left-sidebar-width-desktop;
              }
           
            
            
            .title{
                background-color: #DEDEDE;
                background: -webkit-linear-gradient(#DEDEDE, #BFBFBF , #999999); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(#DEDEDE, #BFBFBF, #999999); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(#DEDEDE, #BFBFBF, #999999); /* For Firefox 3.6 to 15 */
                background: linear-gradient(#DEDEDE, #BFBFBF, #999999); /* Standard syntax */
                color: black;
                padding: 6px;
                font-size: 8px;
                @include tablet {
                    padding: 8px;
                    font-size: 10px;
                  }
                
                  @include desktop {
                    padding: 10px;
                    font-size: 12px;
                  }
            }
            .members{
                border: 1px solid gray;
                background-color: royalblue;
                color: white;
                max-height: 40vh;
                overflow-y: scroll;
                .member-info{
                    border: 1px solid gray;
                    padding: 6px;
                    position: relative;
                    @include tablet {
                        padding: 8px;
                      }
                    
                      @include desktop {
                        padding: 10px;
                      }
                      h2{
                         font-size: 10px;
                         @include tablet {
                            font-size: 12px;
                          }
                        
                          @include desktop {
                            font-size: 14px;
                          } 
                      }

                      h4{
                        font-size: 8px;
                        @include tablet {
                           font-size: 10px;
                         }
                       
                         @include desktop {
                           font-size: 12px;
                         } 
                     }
                    a{
                        text-decoration: none;
                        color: white;
                          a:visited { text-decoration: none; }
                          a:hover { text-decoration: underline; }
                          a:focus { text-decoration: none; }
                          a:hover, a:active { text-decoration: underline; }
                          
                    }
                    .circle{
                        -webkit-border-radius:10px;
                        -moz-border-radius:10px;
                        border-radius:10px;
                        border:1px solid #ccc;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        width:10px;
                        height:10px;
                        display: inline-block;
                        margin-left: 15px;
                        background-color: red; 
                        @include tablet {
                        -webkit-border-radius:12px;
                        -moz-border-radius:12px;
                        border-radius:12px;
                        border:1px solid #ccc;
                        width:12px;
                        height:12px;
                        display: inline-block;
                        margin-left: 15px;
                        top: 12px;
                        right: 12px;
                        }
                        @include desktop {
                            -webkit-border-radius:14px;
                            -moz-border-radius:14px;
                            border-radius:14px;
                            border:1px solid #ccc;
                            width:14px;
                            height:14px;
                            display: inline-block;
                            margin-left: 15px;
                            top: 14px;
                            right: 14px;  
                        }
                        &--online {
                            background-color: green;
                          }
                          &--offline {
                            background-color: red;
                          } 
                        
                    }
                }
            }
        }
        .footercontainer{
            height: auto;
            max-height: 15vh;
            margin: auto auto 0 auto;
            position: fixed;
            bottom: 0;
            left: 0;
            width: $left-sidebar-width;
            @include tablet {
                width: $left-sidebar-width-tablet;
              }
            
              @include desktop {
                width: $left-sidebar-width-desktop;
              }
            color: black; 
            display: flex;
            flex-direction: row;
            border: 1px solid gray;
            //border-right: 1px solid $border-color;
            font-style: italic;
            font-family: 'Montserrat', sans-serif;
            background-color: #DEDEDE;
            background: -webkit-linear-gradient(#DEDEDE, #BFBFBF , #999999); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(#DEDEDE, #BFBFBF, #999999); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(#DEDEDE, #BFBFBF, #999999); /* For Firefox 3.6 to 15 */
            background: linear-gradient(#DEDEDE, #BFBFBF, #999999); /* Standard syntax */
            vertical-align: middle;
                //}
                .left{
                    //width: $left-sidebar-width;
                    justify-content: flex-start;
                    width:100%;
                    .footericons{                       
                        line-height: normal;
                        display: flex;
                        justify-content: flex-start;
                        padding: 0 5px;
                        .social-links{
                            display: inline-flex; 
                            li {
                            list-style-type: none;                           
                            text-align: center;
                            padding-left: 3px;
                            padding-right: 3px;
                            padding-bottom: 5px;
                            padding-top: 0px;
                            vertical-align: middle;
                            a{
                            text-decoration: none;
                            color: #335566;                
                            a:visited { text-decoration: none; }
                            a:hover { text-decoration: underline; }
                            a:focus { text-decoration: none; }
                            a:hover, a:active { text-decoration: underline; }
                            }
                            img{
                                vertical-align: middle;
                                width: 60%;

                                @include tablet {
                                    width: 75%;
                                }
                                @include desktop {
                                    width: 100%;
                                }
                            }  
                        }
                    }
                }
               
                    .footertext {
                        vertical-align: middle;  
                        padding: 5px;
                        line-height: normal;
                        font-size: 8px;
                
                    @include tablet {
                        //line-height: $header-height-tablet;
                        font-size: 10px;
                    }
                
                    @include desktop {
                        //line-height: $header-height-desktop;
                        font-size: 12px;
                    }
                        }
                
                }
            }
    }
        .content, .dashboard, .registration, .home{
            flex-grow: 1;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            padding: 10px;
            background-color: whitesmoke;
            //text-align: center;
            h2, p{
                text-align: center;
                margin-bottom: 10px;
            }
            .block, .home{
                text-align: center;
                label, input{
                    float: left;
                }
                label, button{
                    clear: left;
                    display: block;
                }
            }
            .login-form{
                //text-align: center;
                
                input{
                    margin-bottom: 10px;
                    height: 20px;
                    font-size: 10px;
                    background-color: rgb(250, 255, 189);
                    @include tablet {
                        height: 22px;
                        font-size: 12px;
                    }
                    @include desktop {
                        height: 25px;
                        font-size: 14px;
                    }
                }
                
                button{
                    font-family: Verdana, "Geneva", sans-serif;
                    color: black;
                    border: 0 none;
                    padding-left: 3px;
                    padding-right: 3px;
                    font-size: 12px;
                    width: 60px;
                    cursor: pointer;
                    margin-bottom: 10px;
                    line-height: $header-height - 10px; 
                    //height: 40px; 
                    border: none;
                    border-radius: 12px;
                    background-color: #DEDEDE;
                    background: -webkit-linear-gradient(#DEDEDE, #BFBFBF , #999999); /* For Safari 5.1 to 6.0 */
                    background: -o-linear-gradient(#DEDEDE, #BFBFBF, #999999); /* For Opera 11.1 to 12.0 */
                    background: -moz-linear-gradient(#DEDEDE, #BFBFBF, #999999); /* For Firefox 3.6 to 15 */
                    background: linear-gradient(#DEDEDE, #BFBFBF, #999999); /* Standard syntax */        
                }
            }
            .messages{
                flex-grow: 1;
            }
            .chat-form{
               position: fixed;
               bottom: 10px;
               z-index: 3;
               width: 65%;
               @include tablet {
                    width: 75%;
                }
                @include desktop {
                    width: 80%;
                } 

            .chatter-input{
                border-top: 1px solid $border-color;
                height: 35px;
                @include tablet {
                    height: 45px;
                }
                @include desktop {
                    height: 50px;
                }
                display: flex;
                flex-direction: row;
                .text-input{
                    flex-grow: 1;
                    //vertical-align: middle;
                    textarea{
                        border: 1px solid gray;
                        border-right: 0;
                        width: 100%;
                        height: 100%;
                        padding: 15px 0px 11px 8px;
                        font-size: 12px;
                        @include tablet {
                            font-size: 14px;
                        } 
                        @include desktop {
                            font-size: 16px;
                        }       
                    }
                }
                .actions{                    
                    button.post{
                        background: $primary-color;
                        height: 100%;
                        border: 1px solid gray;
                        border-left: 0;
                        cursor: pointer;
                        font-size: 12px;
                        @include tablet {
                            font-size: 14px;
                        } 
                        @include desktop {
                            font-size: 16px;
                        }  
                        color: black;
                        //vertical-align: middle;
                        //padding: 7px 15px;
                        padding-left: 12px;
                        padding-right: 12px;
                        //line-height: 50px;
                        background-color: #DEDEDE;
                        background: -webkit-linear-gradient(#DEDEDE, #BFBFBF , #999999); /* For Safari 5.1 to 6.0 */
                        background: -o-linear-gradient(#DEDEDE, #BFBFBF, #999999); /* For Opera 11.1 to 12.0 */
                        background: -moz-linear-gradient(#DEDEDE, #BFBFBF, #999999); /* For Firefox 3.6 to 15 */
                        background: linear-gradient(#DEDEDE, #BFBFBF, #999999); /* Standard syntax */                                
                    }
                }
            }
            }              
    
        }
       
    }
    .messages{
        display: flex;
        flex-direction: column;
        overflow-y: auto;  
        height: 100%;
        .message{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin: 15px 0;
            padding-top: 25px;
            padding-bottom: 10px;
            
            
            .message-body{
                padding-left: 10px;
                .message-author{
                    color: #636e72;
                }
                .message-text{
                    background: $body-color;
                    color: #FFF;
                    padding: 10px;
                    border-radius: 10px;
                }
            }
            &.me{
                justify-content: flex-start;
                color: indianred;
                .message-body{
                    .message-text{
                        background: indianred;
                        color: #FFF;
                    }
                }
            }
        }    
    }
}




