@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600";
@import 'variable';

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    color: $body-color;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.app-chatter{
    display: flex;
    flex-direction: column;
   
    .header{
        height: $header-height;
        background-color: #008CBA;
        color: white; 
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $border-color;
        button{
            font-family: Verdana, "Geneva", sans-serif;
            border: 0 none;
            padding-left: 3px;
            padding-right: 3px;
            font-size: 16px;
            cursor: pointer;
            line-height: $header-height - 10px;  
            border: none;
            border-radius: 12px;
            background-color: #DEDEDE;
            background: -webkit-linear-gradient(#DEDEDE, #BFBFBF , #999999); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(#DEDEDE, #BFBFBF, #999999); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(#DEDEDE, #BFBFBF, #999999); /* For Firefox 3.6 to 15 */
            background: linear-gradient(#DEDEDE, #BFBFBF, #999999); /* Standard syntax */        
        }
        .left{
            width: $left-sidebar-width;
            .actions{
                line-height: $header-height;
                padding: 0 10px;                
            }
        }
        .content{
            flex-grow: 1;
            overflow: hidden;
            h2{
                line-height: $header-height;
                text-align: center;
                font-size: 24px;
            }

        }
        .right{
            width: $right-sidebar-width;
            .user-bar{
                line-height: $header-height;
                display: flex;
                justify-content: flex-end;
                padding: 0 10px;
                .profile-name{
                    padding-right: 10px;
                    font-size: 16px;
                }
                .profile-image{
                    img{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        margin: 10px 0 0 0;
                
                    }   
                }
                
            }
        }
    }
    .main{
        height: 100%;
        display: flex;
        overflow: hidden;
        .sidebar-left{
            border-right: 1px solid $border-color;
            width: $left-sidebar-width;
            .title{
                background-color: #DEDEDE;
                background: -webkit-linear-gradient(#DEDEDE, #BFBFBF , #999999); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(#DEDEDE, #BFBFBF, #999999); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(#DEDEDE, #BFBFBF, #999999); /* For Firefox 3.6 to 15 */
                background: linear-gradient(#DEDEDE, #BFBFBF, #999999); /* Standard syntax */
                color: black;
            }
            .rooms{
                list-style-type: none;
                .room-info{
                    border: 1px solid gray;
                    background-color:#556B2F;
                    
                    a{
                        text-decoration: none;
                        color: white;
                          a:visited { text-decoration: none; }
                          a:hover { text-decoration: underline; }
                          a:focus { text-decoration: none; }
                          a:hover, a:active { text-decoration: underline; }
                          
                    }
                }
            }
        }
        .sidebar-right{
            border-left: 1px solid $border-color;
            width: $right-sidebar-width;
            .title{
                background-color: #DEDEDE;
                background: -webkit-linear-gradient(#DEDEDE, #BFBFBF , #999999); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(#DEDEDE, #BFBFBF, #999999); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(#DEDEDE, #BFBFBF, #999999); /* For Firefox 3.6 to 15 */
                background: linear-gradient(#DEDEDE, #BFBFBF, #999999); /* Standard syntax */
                color: black;
            }
            .members{
                border: 1px solid gray;
                background-color:#5F9EA0;
                color: white;
            }
        }
        .content, .dashboard, .home{
            flex-grow: 1;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            .messages{
                flex-grow: 1;
            }
            .chatter-input{
                border-top: 1px solid $border-color;
                height: 50px;
                display: flex;
                flex-direction: row;
                .text-input{
                    flex-grow: 1;
                    textarea{
                        border: 0 none;
                        width: 100%;
                        height: 100%;
                        padding: 8px 15px;
                    }

                }
                .actions{
                    
                    button.post{
                        background: $primary-color;
                        color: #FFF;
                        border: 0 none;
                        padding: 7px 15px;
                        line-height: 50px;
                    }
                }
            }
                  
    
        }
.footcontainer{
    height: $footer-height;
            //background-color: #008CBA;
    color: black; 
    display: flex;
    flex-direction: row;
    border-top: 1px solid $border-color;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    background-color: #DEDEDE;
    background: -webkit-linear-gradient(#DEDEDE, #BFBFBF , #999999); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#DEDEDE, #BFBFBF, #999999); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#DEDEDE, #BFBFBF, #999999); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#DEDEDE, #BFBFBF, #999999); /* Standard syntax */
    vertical-align: middle;
            .left{
                width: $left-sidebar-width;
                justify-content: flex-start;
                .footertext {
                vertical-align: middle;
                //padding-top: 30px;  
                line-height: $footer-height;
                padding: 0 10px;
                }
            }
            .right{
                width: $right-sidebar-width;
                justify-content: flex-end;
                .footericons{
                line-height: $footer-height;
                display: flex;
                justify-content: flex-end;
                padding: 0 10px;
                }
            }
            .social-links{ 
                li {
                    list-style-type: none;
                    //display: inline-block;
                    text-align: center;
                    vertical-align: middle;
                    a{
                        text-decoration: none;
                        color: #335566;
                      
                      a:visited { text-decoration: none; }
                      a:hover { text-decoration: underline; }
                      a:focus { text-decoration: none; }
                      a:hover, a:active { text-decoration: underline; }
                      }  
                    }
            }
        }        
    }
}

.messages{
    display: flex;
    flex-direction: column;
    overflow-y: auto;  
    height: 100%;
    .message{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 15px 0;
        padding-top: 25px;
        padding-bottom: 10px;
        .message-user-image{
            img{
                width: 20px;
                height: 20px;
                border-radius: 50%;
            }
        }
        .message-body{
            padding-left: 10px;
            .message-author{

            }
            .message-text{
                background: $body-color;
                color: #FFF;
                padding: 10px;
                border-radius: 10px;
            }
        }
        &.me{
            justify-content: flex-start;
            .message-body{
                .message-text{
                    background: $primary-color;
                    color: #FFF;
                }
            }
        }
    }
}

.rooms{

    .room{
        display: flex;
        border-bottom: 1px solid $border-color;
        padding: 8px 0;
        .user-image{
            width: 30px;
            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }
        .room-info{
            flex-grow: 1;
            padding-left: 8px;
            h2{
                font-size: 14px;
                font-weight: 600;
            }
            p{
                font-size: 12px;
            }
        }
    }
}
.members{

    .member{
        display: flex;
        border-bottom: 1px solid $border-color;
        padding: 8px 0;
        .user-image{
            width: 30px;
            img{width: 30px;
            height: 30px;
            border-radius: 50%;
            }
        }

        .member-info{
            padding-left: 8px;
            flex-grow: 1;
            h2{
                font-size: 14px;
            }
            p{
                font-size: 12px;
            }
        }
    }
}
h2.title{
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
}