

.social-links{ 
    li {
        list-style-type: none;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        margin-left: 8px;
        a{
            text-decoration: none;
            color: #335566;
          
          a:visited { text-decoration: none; }
          a:hover { text-decoration: underline; }
          a:focus { text-decoration: none; }
          a:hover, a:active { text-decoration: underline; }
          }  
        }
    }


    .left{
        width: $left-sidebar-width;
        justify-content: flex-start;
        .footertext {
        vertical-align: middle;
        //padding-top: 30px;  
        line-height: $footer-height;
        padding: 0 10px;
        }
    }
    .right{
        width: $right-sidebar-width;
        justify-content: flex-end;
        .footericons{
        line-height: $footer-height;
        display: flex;
        justify-content: flex-end;
        padding: 0 10px;
        }
    }

    .footcontainer{
        height: $footer-height;
        background-color: #008CBA;
        color: black; 
        display: flex;
        flex-direction: row;
        border-top: 1px solid $border-color;
        font-style: italic;
        font-family: 'Montserrat', sans-serif;
        background-color: #DEDEDE;
        background: -webkit-linear-gradient(#DEDEDE, #BFBFBF , #999999); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#DEDEDE, #BFBFBF, #999999); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#DEDEDE, #BFBFBF, #999999); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#DEDEDE, #BFBFBF, #999999); /* Standard syntax */
        vertical-align: middle;
                
                   
                    
            } 



            .messages{
                display: flex;
                flex-direction: column;
                overflow-y: auto;  
                height: 100%;
                .message{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    margin: 15px 0;
                    padding-top: 25px;
                    padding-bottom: 10px;
                    .message-user-image{
                        img{
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                        }
                    }
                    .message-body{
                        padding-left: 10px;
                        .message-author{
            
                        }
                        .message-text{
                            background: $body-color;
                            color: #FFF;
                            padding: 10px;
                            border-radius: 10px;
                        }
                    }
                    &.me{
                        justify-content: flex-start;
                        .message-body{
                            .message-text{
                                background: $primary-color;
                                color: #FFF;
                            }
                        }
                    }
                }
            }